@keyframes getIn {
    0% {
        top: 500;
        left: 500;
        opacity: 0;
        scale: 0;
    }

    95% {
        top: 500;
        left: 500;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.file {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    cursor: default;
    width: 6%;
    height: 7%;
    animation: getIn 500ms ease-out forwards;
    transition: top 500ms ease-out, left 500ms ease-out;
    background-color: rgba(255, 255, 255, 0.212);
    white-space: nowrap;
}

.file:hover {
    background-color: rgba(255, 255, 255, 0.500);
}


@media (max-width: 700px) {
    .file {
        position: relative;
        width: 110px;
        height: 10%;
        margin-top: 1%;
    }
}

@media (min-width: 701px) and (max-width: 1280px) {
    .file {
        position: relative;
        width: 15%;
        height: 10%;
        margin-top: 2%;
        margin-left: 2%;
    }
}