.maindiv {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(226, 224, 208);
}

.appbar {
    @media (min-width: 320px) and (max-width:700px) {
        gap: 1%;
    }

    @media (min-width: 701px) and (max-width:1280px) {
        gap: 5%;
    }

}

/* .homebarMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    position: relative;
} */

/* .iconPageOnBar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    width: 100%;
    margin: 0% 1%;
    height: 100%;
    @media (max-width: 1025px) {
        width: 85%;
        margin-left: 5%;
        .MuiSvgIcon-root{
            font-size: 35px;
        }      
    }
} */