.projectContainer {
    width: 500px;
    height: 700px;
    background: #222222;
    padding: 3% 0%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectTabsContainer {
    height: 93%;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
}


.title__card {
    margin: 1% 0;
}

.description__card {
    letter-spacing: 0.1em;
    font-size: 15px;
    line-height: 22px;
    text-indent: 10px;
}

@media (min-width:320px) and (max-width: 700px) {
    .projectContainer {
        width: 100%;
        min-height: 93%;
    }

    .projectTabsContainer {
        height: 93%;
        margin-bottom: 5%;
    }
}


@media (min-width:701px) and (max-width: 1280px) {
    .projectContainer {
        width: 100%;
        height: 100%;
    }


}